<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="/style_tituloPrin.css">

<html lang="es">
<head>
  <title>Entregas</title>
</head>
<body>
  <h1 class="tituloPrincipal" th:text="${titulo}"></h1>
  <table>
    <thead>
    <tr>
      <th>Conductor</th>
      <th>Ruta</th>
      <th>Estado</th>
      <th>Pedido</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entrega : ${entregas}">
      <td th:text="${entrega.nombreConductor}">Conductor</td>
      <td th:text="${entrega.ruta}">Ruta</td>
      <td th:text="${entrega.estadoEntrega}">Estado</td>
      <td th:text="${entrega.pedido.id}">Pedido</td>
    </tr>
    </tbody>
  </table>
</body>
</html>