<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="/style_index.css">
<link rel="stylesheet" href="/style_tituloPrin.css">

<html lang="es" >
<head>
  <title>Página Floristeria MVC</title>
</head>
<body>
  <h1 class="tituloPrincipal" th:text="${title}"></h1>
  <ul>
    <li><a th:href="@{/inventario}">Gestión de Inventario</a></li>
    <li><a th:href="@{/pedidos}">Gestión de Pedidos</a></li>
    <li><a th:href="@{/entregas}">Gestión de Entregas</a></li>
    <li><a th:href="@{/facturas}">Gestión de Facturas</a></li>
  </ul>
</body>
</html>