<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pedidos</title>
</head>
<body>
  <h1>Pedidos</h1>
  <table>
    <thead>
    <tr>
      <th>Cliente</th>
      <th>Dirección</th>
      <th>Tipo de Arreglo</th>
      <th>Fecha de Entrega</th>
      <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pedido : ${pedidos}">
      <td th:text="${pedido.nombreCliente}">Cliente</td>
      <td th:text="${pedido.direccionCliente}">Dirección</td>
      <td th:text="${pedido.tipoArreglo}">Tipo de Arreglo</td>
      <td th:text="${pedido.fechaEntrega}">Fecha de Entrega</td>
      <td th:text="${pedido.estado}">Estado</td>
    </tr>
    </tbody>
  </table>
  <a href="/pedidos/nuevo">Agregar nuevo pedido</a>
</body>
</html>